.cardFeedbackContainer {
  width: 100%;
  max-width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  text-align: left;
  margin-bottom: 20px;
}

.cardFeedbackContainer:hover {
  transform: scale(1.05);
}

.cardFeedbackContainer p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.userDetailsCardFeedback {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.userImageCardFeedback {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userNameCardFeedback {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.userAgeCardFeedback {
  font-size: 12px;
  color: #777;
}

@media (max-width: 768px) {
  .cardFeedbackContainer {
    max-width: 90%;
  }
}