.vendaIngressoContainer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.formVendaIngressoContainer {
  flex: 1;
  margin-right: 40px;
}

.formVendaIngressoContainer h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.formVendaIngresso {
  display: flex;
  flex-direction: column;
}

.formVendaIngressoGroup {
  margin-bottom: 15px;
}

.formVendaIngressoGroup label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.formVendaIngressoGroup input,
.formVendaIngressoGroup select {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  touch-action: none;
}

.botaoAnunciarIngresso {
  margin-top: 20px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  touch-action: none;
}

.botaoAnunciarIngresso:hover {
  background-color: #333;
}

.imagemVendaIngressoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.eventImageVendaIngresso {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mensagemLoginNecessario {
  text-decoration: none;
  flex: 1;
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border: 2px solid red;
  border-radius: 8px;
  background-color: #ffe6e6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .vendaIngressoContainer {
    flex-direction: column;
    padding: 20px;
  }

  .formVendaIngressoContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imagemVendaIngressoContainer {
    justify-content: center;
  }
}