.segurancaVendasContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f8f8f8;
  flex-wrap: wrap;
}

.textoSegurancaVendasContainer {
  flex: 1;
  padding-right: 18px;
  margin-right: 20px;
  min-width: 300px;
}

.itensConteudoSegurancaVendas p {
  font-size: 16px;
  color: #333;
}

.itensConteudoSegurancaVendas p strong {
  font-weight: bold;
}

.botaoVenderIngressoSegurancaVendas {
  margin-top: 10px;
  padding: 10px 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.botaoVenderIngressoSegurancaVendas:hover {
  background-color: #333;
}

.imagemSegurancaVendasContainer {
  flex: 1;
}

.imagemSegurancaVendas {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .segurancaVendasContainer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .textoSegurancaVendasContainer {
    margin-right: 0;
    padding-right: 0;
    text-align: center;
  }

  .imagemSegurancaVendas {
    margin: 0;
  }
}