.cardDisponivelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 10px;
}

.reverse {
  flex-direction: row-reverse;
}

.eventImageCardDisponivel {
  width: 675px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

.eventImageCardDisponivel:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.eventInfoCardDisponivel {
  display: flex;
  margin-right: 180px;
  margin-left: 180px;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
}

.eventInfoCardDisponivel h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: left;
}

.eventInfoCardDisponivel p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.viewButtonCardDisponivel {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.viewButtonCardDisponivel:hover {
  background-color: #333;
}