.cardDisponivelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reverse {
  flex-direction: column-reverse;
}

.eventImageCardDisponivel {
  width: 400px;
  height: 300px;
  max-width: 675px;
  border-radius: 15px;
  object-fit: cover;
}

.eventInfoCardDisponivel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.eventInfoCardDisponivel h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.eventInfoCardDisponivel p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.viewButtonCardDisponivel {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.viewButtonCardDisponivel:hover {
  background-color: #333;
}

@media (min-width: 768px) {
  .cardDisponivelContainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 10px;
  }

  .eventInfoCardDisponivel {
    margin: 0 20px;
    text-align: left;
  }
}