.infoVendaIngressoContainer {
  padding: 20px;
  background-color: #fff;
}

.cardGridInfoVendaIngresso {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanho igual */
  grid-gap: 40px;
  justify-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cardGridInfoVendaIngresso {
    grid-template-columns: 1fr; /* Em telas menores, mostra 1 card por linha */
    grid-gap: 20px;
  }
}