.aboutContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .textAboutContainer {
    flex: 1;
    margin-right: 20px;
  }
  
  .textAboutContainer h1 {
    color: #333;
  }
  
  .textAboutContainer p {
    color: #666;
  }
  
  .textAboutContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .textAboutContainer ul li {
    color: #333;
    margin-bottom: 10px;
  }
  
  .imageAboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imageAboutRow {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .imageAboutRow img {
    margin: 10px;
    border-radius: 16px;
  }
  
  .imageAboutRow img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }